<div class="header-section">
    {% include 'admin_header.html' %}
</div>

<style>
    .header-section {
        background-color: rgba(0, 0, 95, 0.818);
        padding: 40px;
    }
            th,td{
                padding: 10px;
            }
            </style>
            <br>
            <h1 align="center">Reply</h1>
            <br>
<center>
    <form action="" method="post" >
        <table>
            <tr>
                <th >SEND REPLY</th>
                <td><input type="text" name="rep" class="form-control"></td>
            </tr>
            <tr>
                <td align="center" colspan="3"><input type="submit" name="send" class="btn btn-success"></td>
            </tr>
        </table>
    </form>
    <br><br><br><br><br><br><br><br>

</center>
{%include 'footer.html'%}


