<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GearUp-login</title>
    <link rel="shortcut icon" href="static/assets1/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="static/assets1/images/fav.jpg">
    <link rel="stylesheet" href="static/assets1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets1/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="static/assets1/css/style.css" />
</head>

<body>
    <form action="" method="post">
    <div class="container-fluid">
        <div class="container">
            <div class="col-xl-10 col-lg-11 login-container">
                <div class="row">
                    <div class="col-lg-7 img-box">
                        <img src="static/assets1/images/login-banner.png" alt="">
                    </div>
                    <div class="col-lg-5 no-padding">
                        <div class="login-box">
                            <h5>Welcome Back!</h5>

                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-envelope"></i> Username</label>
                                <input type="text" name="uname" class="form-control form-control-sm">
                            </div>

                             <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-unlock-alt"></i> Password</label>
                                <input type="password" name="pass" class="form-control form-control-sm">
                            </div>

                             <div class="login-row row forrr no-margin">
                               <p> <input type="checkbox"> Remember Me</p>
                               <p><a href="/forgot_password">Forget Password?</a></p>
                            </div>

                             <div class="login-row btnroo row no-margin">
                                <input type="submit" name="sub" class="btn btn-success">
                               <!-- <button class="btn btn-primary btn-sm"> Sign In</button> -->
                               <!-- <button class="btn btn-light  btn-sm"> Create Account</button> -->
                            </div>
                            <div class="login-row donroo row no-margin">
                                <p>Dont have an Account ? <br><a href="/driving_school_register">Sign Up(driving school)</a><br><a href="/user_register">Sign Up(student)</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="copyc">
        <p>Designed by <a href="https://www.smarteyeapps.com/">www.gearup.com</a></p>
    </div>
</body>

    <script src="static/assets1/js/jquery-3.2.1.min.js"></script>
    <script src="static/assets1/js/popper.min.js"></script>
    <script src="static/assets1/js/bootstrap.min.js"></script>
    <script src="static/assets1/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="static/assets1/js/script.js"></script>
</html>
